<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfolSMSoG9Qtnea_ZeC3M3-1eG_tVioVY</string>
	<key>GCM_SENDER_ID</key>
	<string>992122530487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.carsonclark.Betterment</string>
	<key>PROJECT_ID</key>
	<string>tappo-a1575</string>
	<key>STORAGE_BUCKET</key>
	<string>tappo-a1575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992122530487:ios:59fb94b7e665c4a303fb32</string>
</dict>
</plist>